body{
    background: linear-gradient(to bottom, rgb(82, 50, 117), rgb(0, 34, 62));
    width: 100%;
    height: 100vh;
    padding: 0;
    margin: 0;

}
header{
    background: cornflowerblue;
    padding: 20px 0px;
}
header h1{
    font-size: 3rem;
    font-weight: 500;
    color: gainsboro;
    letter-spacing: 2px;
    text-align: center;

}
.table{
    position: relative;
}
canvas{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 50px auto;
    border: 2px solid #0a500a;
}